body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.board-container{
  width: 300px;
}
.board-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

